<tr id="uom-{uom.id}">
  <td>{uom.id}</td>

  <td colspan="3">
    <form
            hx-post="/uoms/update/{uom.id}"
            hx-target="#uom-{uom.id}"
            hx-swap="outerHTML"
            style="display:flex; gap:8px; align-items:center">

      <input name="uomCode" value="{uom.uomCode}">
      <input name="description" value="{uom.description}">

      <button class="btn-small green" type="submit">Save</button>

      <button class="btn-small grey"
              hx-get="/uoms/cancel/{uom.id}"
              hx-target="#uom-{uom.id}"
              hx-swap="outerHTML"
              type="button">
        Cancel
      </button>
    </form>
  </td>
</tr>



