{#include "/layout.html"}
{#title}UOM Management{/title}

{#body}
  <h4>Unit of Measure (UOM) Management</h4>

  <!-- Add UOM Form -->
  <div class="row">
    <form hx-post="/uoms/add" hx-target="#uomTableBody" hx-on="htmx:after-request: if(event.detail.successful) this.reset()" hx-swap="innerHTML" class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input name="uomCode" type="text" required>
          <label>UOM Code</label>
        </div>
        <div class="input-field col s6">
          <input name="description" type="text" required>
          <label>Description</label>
        </div>
        <div class="input-field col s2">
          <button class="btn waves-effect waves-light" type="submit">Add</button>
        </div>
      </div>
    </form>
  </div>

  <!-- UOM Table -->
  <table class="highlight striped responsive-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>UOM Code</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="uomTableBody">
    {#include "/pub/uom/uom-rows.html" data=uoms /}
    </tbody>
  </table>
{/body}
{/include}
