{@com.rosswood.entity.Customer customer}

<div class="grey lighten-4" style="padding: 15px; border-left: 4px solid #2196F3; margin: 5px 10px;">
  <h6 style="margin-top:0">Branches for <strong>{customer.name}</strong></h6>
  <table class="white bordered striped">
    <thead>
    <tr class="grey-text">
      <th>Branch Name</th>
      <th>Address</th>
      <th width="100">Action</th>
    </tr>
    </thead>
    <tbody>
    {#for b in customer.branches}
      <tr>
        <td>{b.branchName}</td>
        <td>{b.branchAddress}</td>
        <td><i class="material-icons tiny green-text">check_circle</i></td>
      </tr>
    {/for}
    <tr>
      <td colspan="3">
        <form hx-post="{uri:CustomerController.addBranch(customer.id)}"
              hx-target="closest div">
            {#authenticityToken/}

          <table style="width:100%">
            <tr>
              <td><input name="branchName" placeholder="Branch Name" required style="height: 2rem;"></td>
              <td><input name="branchAddress" placeholder="Address" style="height: 2rem;"></td>
              <td>
                <button class="btn-small blue waves-effect">
                  <i class="material-icons">add</i>
                </button>
              </td>
            </tr>
          </table>

        </form>
      </td>
    </tr>

    </tbody>
  </table>
</div>